/* index.css */

@import "tailwindcss";

/* تعریف فونت فارسی */
@font-face {
    font-family: "IRANSans";
    src: url("/fonts/ttf/IRANYekanBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root {
  --toastify-font-family: "IRANSans", sans-serif;
}

/* اختیاری: فونت پیش‌فرض پروژه */
body {
    font-family: "IRANSans", sans-serif;
    direction: rtl;
    /* راست‌چین */
    text-align: right;
    /* متن‌ها به سمت راست */
}
.Toastify__toast {
  font-family: "IRANSans";
  font-size: 14px;
  text-align: right; /* for Persian text */
}
